@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Open+Sans&display=swap");
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../homepage/images/calm-water-of-ocean-during-daytime.jpg");
    background-size: cover;
  }
  
img{
    height: 500px;
    width: 500px;
}

#text {
    font-size: 70px;
    position: absolute;
    left: 15%;
    color: #ab644b;padding: 0 10px 0 10px;
    font-family: "Josefin Sans", sans-serif;

}

footer{
    align-items: baseline;
    font-size: 50px;
    color: #ab644b;padding: 0 10px 0 10px;
}
