body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22212d;
  }
  
img{
    float: right;
    height: 1250%;
    width: 1250px;
}

#text {
    font-size: 100px;
    color: #ab644b;padding: 0 10px 0 10px;

}

footer{
    align-items: baseline;
    font-size: 50px;
    color: #ab644b;padding: 0 10px 0 10px;
    
    
}
