body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #2c1b34,
    #593e67,
    #7f5d9a,
    #7f5d9a,
    #593e67,
    #2c1b34
  );
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fea837;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  animation: glowing 2s ease-in-out infinite alternate;
  box-shadow: 0 0 10px 0px #de741c;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px 0px #de741c;
  }
  100% {
    box-shadow: 0 0 40px 20px #de741c;
  }
}

