/** @format */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@700&display=swap");

body {
	background: url("images/calm-water-of-ocean-during-daytime.jpg");
	background-size: cover;
	backdrop-filter: blur(5px);
	margin: 0;
}

.container {
	display: flex;
	width: 100%;
	padding: 4% 2%;
	box-sizing: border-box;
	height: 100vh;
}

.text {
	font-size: 24px;
	color: #000000;
	text-align: center;
	margin-top: 10px;
}

.box {
	color: #ffefcc;
	border-radius: 10px;
	flex: 1;
	overflow: hidden;
	transition: 0.5s;
	margin: 0 2%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);
	background: rgba(122, 119, 119, 0.049);
	position: relative;
	backdrop-filter: blur(10px);
	font-family: "Lexend Peta", sans-serif;
}

.box:before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	background: inherit;
	backdrop-filter: blur(10px);
	z-index: -1;
}

.box > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
	opacity: 0;
}

.box > span {
	font-size: 1.2rem;
	display: block;
	text-align: center;
	padding: 10px 0;
}

.box:hover {
	flex: 1 1 50%;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.4);
}

.box:hover > img {
	opacity: 1;
}

.text {
	opacity: 0;
	color: white;
	position: absolute;
	top: 50px;
}

img {
	width: 100%;
	height: auto;
}

#box_breathing img{
	transform: translate(-50%, -35%);
}

#equal_breathing img {
    transform: translate(-50%, -25%);
}

#alertness_breathing img {
    transform: translate(-50%, -25%);
}